@media (max-width:768px){

    .flex-container{
        padding: 0;
    }

    .flex-container-2{
        padding:0;
        margin: 0;
        width:100%;
    }

        .responsive{
            width: 100%;
            
        }

        .flex-container-1{
            margin: 1em 0 1em 0;
        }

        .main{
            grid-template-columns: 1fr 70px;

        }

        .heroIcon{
            width: 50px;
            height: 50px;
        }

        .container{
            width: 100%!important;
        }
        
    }

    @media (min-width:768px){
    .pseudo{
        border-left-style: solid;
        border-left-color: rgba(0,0,0,0);
        border-right-style: solid;
        border-right-color: #43484c;
        box-sizing: border-box;
        border-top-left-radius: 50px;
    }}
    

    .appli{
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        text-align:center;
    }

    .appli a{
        width: 100%;
        text-decoration:none;
        font-size: 2em;
    }


    a:hover{
        color: #f99e1a;
        text-shadow: 10px 10px 30px white;
    }
    
    a:active{
        text-shadow: 10px 10px 30px #f99e1a;
    }