<!DOCTYPE html>
<html>

<head>
    <title>Dry kittens</title>
	<link rel="icon" type="image/x-icon" href="https://d3hmvhl7ru3t12.cloudfront.net/img/favicon-bb6200267bbdea6fdc9eb498a88722007dad6eb3b3c6437440025c66cb055fefdd1fbedf3886bd069fc3547c79fa8afee4795a278a644f6cfe10a7b1144f48bb.ico">
	<link rel="stylesheet" href="./css/spinner.css">
	<link rel="stylesheet" href="./css/fonts.css">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="./css/responsive.css">
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
   </head>
   
   <body>
	   	<div class="appli">
			<a class="ow" target="_blank" href="http://debaser.fr/dryK/dryKittensTracker.apk">Télécharger dès maintenant l'application dryKittensTracker</a>
		</div>
   		<div class="flex-container">
			<button onclick="showAll()">Voir Tout</button>
			<button onclick="pull(app.players[0], 0)">Baron</button>
			<button onclick="pull(app.players[1], 0)">Meto</button>
			<button onclick="pull(app.players[2], 0)">Sacha</button>
			<button onclick="pull(app.players[3], 0)">Veybex</button>
			<button onclick="pull(app.players[4], 0)">Aku</button>
			<button onclick="pull(app.players[5], 0)">Green</button>
			<button onclick="pull(app.players[6], 0)">Jadixa</button>
		</div>
	<div id="app">
		<div class="container" v-if="team.maxRank">
			<h2>Statistique des joueurs affichés</h2>
			Rang maximum moyen : <img class="rank" v-bind:src="team.averageMaxRankIcon" /> {{team.averageMaxRank}}<br>
			Plus haut rang maximum : <img class="rank" v-bind:src="team.maxRankIcon" /> {{team.maxRank}} ({{team.maxRankPlayer}})<br>
			Plus bas rang maximum : <img class="rank" v-bind:src="team.minRankIcon" /> {{team.minRank}} ({{team.minRankPlayer}})
		</div>

		<div class="flex-container-2">		
			<div class="responsive" v-for="player in players">
				<div class="flex-container-1" v-if="player.display">
					<div class="pseudo">
						<h2><em class="ow" >{{player.name}}</em></h2>
					</div>
					<div class="top bit" v-bind:class="player.rankName">
						<img class="rank" v-bind:src="player.rankIcon" /> {{player.maxRank}}
					</div>
					<div class="main">
						<div class="left">
							<div class="img-spinner-container">
								<img class="img_size" v-bind:src="'./assets/kittens/' + player.battletags['0'] + '.png'" />
								<div class="spinner-container" v-if="player.fetching">
									<div width="100%" class="spinner centered">
										<div class="rect1"></div>
										<div class="rect2"></div>
										<div class="rect3"></div>
										<div class="rect4"></div>
										<div class="rect5"></div>
									</div>
								</div>
							</div>
							<div class="info">
								<img class="rank" v-bind:src="player.averageRankIcon" /> Rang Moyen : {{player.averageRank}}<br>
								<span class="green">{{player.wins}}</span> - <span class="orange">{{player.draws}}</span> - <span class="red">{{player.loss}}</span>
								<br><span class="winrate" v-bind:class="player.winrateColor">{{player.winrate}}%</span>
							</div>
							<div>
								<div class="center" v-if="player.loaded">
									{{player.loaded}}
								</div>
								<div class="center" v-if="player.lastUpdatedTimer">
									Mis à jour {{player.lastUpdatedTimer}}
								</div>
							</div>
						</div>

						<div class="right">
							<div v-for="hero in player.mostPlayedKey ">
								<img class="heroIcon" v-bind:src="'./assets/heroes/' + hero + '.png'" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h1><em>DryKittens</em></h1>
			Bienvenue sur le site des DryKittens<br>
			choisissez un joueur pour voir ses statistiques (additionnées à ses smurfs)<br>
			soyez pas trop gourmand ou impatient, le serveur fournissant les statistiques est assez lent et peut vous bloquer en cas de spam<br>
			Discord pour nous contacter : <em><b>BaronGOℲ#1652</b></em>
		</div>

		<script defer src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/locale/fr.js"></script>
		<script defer src="./js/script.js"></script>
   </body>
</html>


